export API_ENV=dev
export API_SECRET_KEY=helloworld
export API_SERVER_NAME=boutydns
export API_CORS_ORIGINS=http://127.0.0.1:8080,http://localhost:8080
export API_REPO_DEBUG=0
export DB_DRIVER=postgresql
export DB_HOST=db
export DB_PORT=5432
export DB_USER=postgres
export DB_PASSWORD=postgres
export DB_DATABASE=postgres
export BROADCAST_ENABLED=1
export BROADCAST_DRIVER=redis
export BROADCAST_HOST=broadcast
export BROADCAST_PORT=6379
export BROADCAST_PASSWORD=redis
export BROADCAST_PATH=0
export SEED_USER_0_EMAIL=jim@jim.jim
export SEED_USER_0_PASSWORD=password123
export SEED_USER_0_SUPERUSER=1
export SEED_DNS_SERVER_0_NAME=myfirstdnsserver
export SEED_ZONE_0_IP=127.0.0.1
export SEED_ZONE_0_DOMAIN=example.com