API_ENV=dev
API_SECRET_KEY=helloworld
API_SERVER_NAME=boutydns
API_SERVER_HOST=127.0.0.1:8080
API_CORS_ORIGINS=http://127.0.0.1:8080,http://localhost:8080
DB_DRIVER=postgresql
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres
BROADCAST_ENABLED=1
BROADCAST_DRIVER=redis
BROADCAST_HOST=broadcast
BROADCAST_PORT=6379
BROADCAST_PASSWORD=redis
BROADCAST_PATH=0
SEED_USER_0_EMAIL=jim@jim.jim
SEED_USER_0_PASSWORD=password123
SEED_USER_0_SUPERUSER=1
